<%-include("_header")-%>
<h1>Depoimentos</h1>
<div class="nav-pages">
  <a href="/form" class="bt">
    <i class="fas fa-chevron-circle-left"></i>
  </a>
  <div class="coments col-md-12">
    <%for (const comments of model) {%>
      <div class="comentario">

        <p id="valorComment">Comentario <%=comments.Affected%></p>
        <span id="type" class="<%= comments.Affected%>"></span>
        <p> <%= comments.Comment %></p>
        <div class="valorData">
          <div>
            <p><%= comments.Data_dia%></p>
          </div>
        </div>
      </div >
      <%}%>
  </div>
</div>


<%-include("_footer")-%>
